<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mys3soft.muslims">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mosque_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mosque_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuranSearchActivity"></activity>
        <activity android:name=".CalenderActivity" />
        <activity
            android:name=".ImportantQuranAyahActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".TranslationActivity" />
        <activity
            android:name=".ArabicLangActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SurahActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>